<div>
  <h2>Analytics</h2>
  <% if @short_links.present?%>
    <% @short_links.each do | short_link|%>
      <p><%=short_link.source_url%></p>
      <p><strong><%=short_link.short_url%></strong></p>
      <br>
      <p>Total Clicks: <%=short_link["total_clicks"]%></p>
      <p>Top Countries: <%=short_link.top_countries%></p>
      <hr>
    <%end%>  
  <%end%>
</div